name: Update Kaggle Dataset

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 12 * * 1'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas kaggle requests lxml html5lib playwright
        if [ -f scraper/requirements.txt ]; then pip install -r scraper/requirements.txt; fi
    
    - name: Install Playwright Browsers (with dependencies)
      run: |
        playwright install --with-deps chromium
    
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 . --count --exit-zero --max-line-length=127 --statistics
    
    - name: Set Kaggle API credentials
      run: |
        echo "KAGGLE_USERNAME=$KAGGLE_USERNAME" >> $GITHUB_ENV
        echo "KAGGLE_KEY=$KAGGLE_KEY" >> $GITHUB_ENV
      env:
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}

    - name: Run scraper script
      run: python scraper/scraper.py
      env:
        HEADLESS: "true"
