name: Update Kaggle Dataset

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 12 * * 1'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pandas kaggle requests lxml html5lib playwright
        if [ -f scraper/requirements.txt ]; then pip install -r scraper/requirements.txt; fi

    - name: Install Playwright Browsers
      run: |
        python -m playwright install chromium
    
    - name: Lint with flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Set environment variables (Kaggle + Headless)
      run: |
        echo "KAGGLE_USERNAME=$KAGGLE_USERNAME" >> $GITHUB_ENV
        echo "KAGGLE_KEY=$KAGGLE_KEY" >> $GITHUB_ENV
        echo "HEADLESS=$HEADLESS" >> $GITHUB_ENV
      env:
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        HEADLESS: ${{ secrets.HEADLESS }}

    - name: Run scraper script
      run: python scraper/scraper.py
