name: Update Kaggle Dataset

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 12 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install system dependencies for Playwright
      run: |
        sudo apt-get update
        sudo apt-get install -y libnss3 libatk1.0-0 libcups2 libdrm2 libxkbcommon0 libasound2 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libpango-1.0-0 libpangocairo-1.0-0 libxshmfence1 libxfixes3 libxext6 libx11-6 libcairo2

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scraper/requirements.txt

    - name: Install Playwright browsers
      run: |
        python -m playwright install chromium

    - name: Set Kaggle API credentials
      run: |
        echo "KAGGLE_USERNAME=${{ secrets.KAGGLE_USERNAME }}" >> $GITHUB_ENV
        echo "KAGGLE_KEY=${{ secrets.KAGGLE_KEY }}" >> $GITHUB_ENV

    - name: Set headless mode
      run: |
        echo "HEADLESS=true" >> $GITHUB_ENV

    - name: Run scraper
      run: python scraper/scraper.py
